* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    width: 100vw;
    height: 100vh;
    background-image: url('../img/building-102840_1280.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero h1 {
    color:  white;
    padding-top: 150px;
    font-size: 44px;
    text-align: center;
}

.row {
    padding: 40px;
}

.row p {
    color: grey;
    font-size: 20px;
}

.parallax {
    padding: 60px 100px;
    background-image: url('../img/entrega-por-paracaidas.png'),
                      url('../img/windmills-4278679_1280.jpg');
    background-size: initial,cover;
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
    background-attachment: scroll, fixed;
}

.parallax p {
    background-color: rgb(255, 255, 255, 0.80);
    color: blue;
    font-size: 32px;
    text-align: center;
    padding: 40px;
    font-style: italic;
}